/* Estilos para ocultar los radio buttons */
.carrusel input[type="radio"] {
  display: none;
}

/* Estilos para el contenedor del video */
.video-container {
  position: relative;
  width: 560px;
  /* Ajusta el ancho según tus necesidades */
  height: 315px;
  /* Ajusta la altura según tus necesidades */
  overflow: hidden;
  margin: 20px auto;
}

/* Estilos para el contenedor del iframe */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  display: none;
  /* Por defecto, ocultar todos los videos */
}

.button-container {
  position: relative;
  width: 30px;
  /* Ajusta el ancho según tus necesidades */
  height: 20px;
  margin: 20px auto;
}

/* Estilos para el contenedor del iframe */
.button-container div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  display: none;
  /* Por defecto, ocultar todos los videos */
}

/* Estilos para mostrar el video seleccionado */
/* Utilizando pseudoclases :checked */
#video1:checked~.video-container .video1,
#video2:checked~.video-container .video2,
#video3:checked~.video-container .video3 {
  display: block;
}

#video1:checked~.button-container .video1,
#video2:checked~.button-container .video2,
#video3:checked~.button-container .video3 {
  display: flex;
  justify-content: center;
}

.navegacion label {
  cursor: pointer;
  padding: 10px;
  background-color: #0099cc;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}


/* Estilos adicionales */
.navegacion label:hover {
  background-color: #00aa28;
}