.section-cursos h2 {
  color: rgb(0, 213, 255);
  font-size: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
}

.cursos {
  display: flex;
  flex-wrap: wrap;
  background: steelblue;
  width: 200;
}

.curso {
  background: grey;
  width: 50%;
}

.curso h3 {
  color: rgb(166, 52, 10);
  font-size: 2rem;
}

.curso img {
  max-width: 30%;
}

.curso p {
  font-size: 1.7rem;
}